nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 95%;
}


.Options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Views {
    margin: 0 50px;
    width: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    height: 200px;
}